doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Example page
  body(style={'text-align': 'center'})
    include ./header.pug
      label(style={display: 'block', margin: '10px'}) User name: 
        input(
          type='text'
          name='username'
          placeholder='Your name'
        )
      label(style={display: 'block', margin: '10px'}) Password: 
        input(
          type='password'
          name='password'
          maxlength='15'
          placeholder='Your password'
        )
      button
        a(href="/log", style={'text-decoration': 'none'}) Log in
      include ./footer.pug